.nev-style{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.nev-style a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-right: 36px;
}
.nev-style a:hover{
    color: orange;
}